.div_menu {
    /* font-size: 20px; */
    background-color: #88abc2;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.button {
    background-color: #ebf7f8;
    border-radius: 8px;
    /* width: 34px; */
    max-width: 5%;
    min-width: 25px;
    /* height: auto; */
    margin: 3px

}

.button:hover {
    transform: scale(1.15);
}

p {
    font-family: monospace;
    font-size: 30px;
    padding: auto;
    margin: auto;
    ;
}