body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    text-align: center;
    background-image: linear-gradient(#d0e0ebdc,
            #d0e0ebdc), url("https://storage.googleapis.com/pod_public/750/95880.jpg");

}

.Home-title {
    margin: 30px;
    font-size: 60px;
    color: #181510;
    font-family: monospace;
    background-color: #caff4254;
}

.Home {
    display: flex;
    flex-direction: column;
    align-items: center
}

.backToLanding {
    width: auto;
    height: auto;
    font-size: 20px;
}